export NIX_CONFIG="allow-import-from-derivation = true"
use nix -A shells.regular
unset TMP TMPDIR TEMP TEMPDIR
use nix -A shells.package
unset TMP TMPDIR TEMP TEMPDIR

export NOMAD_ADDR=http://shiva:4646

export DEV=1
